{% extends "base.html" %}
{% block content %}
        <!-- Carousel Start -->
        <div class="carousel">
            <div class="container-fluid">
                <div class="owl-carousel">
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="/static/img/carousel-3.jpg" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h1>World's <span>Best</span> Food</h1>
                           
                            <div class="carousel-btn">
                                <!-- <a class="btn custom-btn" href="">View Menu</a> -->
                                <!-- <a class="btn custom-btn" href="">Order Now!</a> -->
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Carousel End -->

        <!-- Menu Start -->
        <!-- <div class="menu">
            <div class="container">
                <div class="section-header text-center">
                    <p>Food Menu</p>
                    <h2>Delicious Food Menu</h2>
                </div>
                <div class="menu-tab">
                    
                    <ul class="nav nav-pills justify-content-center">
                        {% for category in menu %}
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#c-{{category.cat_id}}">{{category.cat_name}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% for category in menu %}
                        <div id="c-{{category.cat_id}}" class="container tab-pane">
                            <div class="row">
                                {% if category.items|length == 0 %}
                                 <div class="col-md-12 text-center"><h3>No Items under {{category.cat_name}} Yet..</h3></div>
                                {% else %}
                                <div class="col-lg-7 col-md-12">
                                {% for item in category.items %}
                                    <div class="menu-item">
                                        <div class="menu-img">
                                            <img src="/media/{{item.image}}" alt="Image">
                                        </div>
                                        <div class="menu-text">
                                            <h3><span><a href="{% url 'dish_detail' dish_id=1 %}">{{item.name}}</a></span> 
                                                {% if item.price != item.discounted_price %}
                                                 <strong><del>Rs:{{item.price}}</del></strong>
                                                {% endif %}
                                                 <strong>Rs:{{item.discounted_price}}</strong>
                                            </h3>
                                            <p>{{item.ingredients}}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                                <div class="col-lg-5 d-none d-lg-block">
                                    <img src="/media/{{category.cat_img}}" style="height:100%;width:100%;" alt="Image">
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Menu End -->
        

        <!-- About Start -->
        <div class="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-img">
                            <img src="/static/img/about.jpg" alt="Image">
                            <!-- <button type="button" class="btn-play" data-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-target="#videoModal"> -->
                                <span></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-content">
                            <div class="section-header">
                                <p>About Us</p>
                                <h2>Cooking Since 2024</h2>
                            </div>
                            <div class="about-text">
                                <p>
                                    We are passionate about connecting people with the latest updates, insights, and resources to keep you informed and inspired. Our mission is to deliver valuable content that enriches your knowledge and keeps you engaged with topics that matter.
Whether it's the latest trends, expert advice, or stories that spark curiosity, we aim to be your go-to source. Thank you for being part of our community—together, we’re learning, growing, and making a difference.
                                </p>
                               
                                <!-- <a class="btn custom-btn" href="">Book A Table</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
        
        
       
        
        
        <!-- Feature Start -->
        <div class="feature">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="section-header">
                            <p>Why Choose Us</p>
                            <h2>Our Key Features</h2>
                        </div>
                        <div class="feature-text">
                            <div class="feature-img">
                                <div class="row">
                                    <div class="col-6">
                                        <img src="/static/img/feature-1.jpg" alt="Image">
                                    </div>
                                    <div class="col-6">
                                        <img src="/static/img/feature-2.jpg" alt="Image">
                                    </div>
                                    <div class="col-6">
                                        <img src="/static/img/feature-3.jpg" alt="Image">
                                    </div>
                                    <div class="col-6">
                                        <img src="/static/img/feature-4.jpg" alt="Image">
                                    </div>
                                </div>
                            </div>
                            <p>
                                Welcome to Food Zone, your ultimate destination for delicious meals and exceptional dining experiences! We connect you to a variety of cuisines from the best restaurants around, offering quick delivery and a seamless ordering process.
                                At Food Zone, we prioritize quality, hygiene, and your satisfaction, ensuring every bite is a delightful one. Whether you're craving comfort food, exploring new flavors, or hunting for exclusive deals, we've got you covered.Join us in celebrating the joy of food—anytime, anywhere. Food Zone: Where cravings meet convenience!
                            </p>
                            <!-- <a class="btn custom-btn" href="">Book A Table</a> -->
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <i class="flaticon-cooking"></i>
                                    <h3>World’s best Chef</h3>
                                    <p>
                                        Experience culinary excellence crafted by the finest chefs in the world! From the innovative dishes of Madura's recipe to the perfection of Sanjeev Kapoor creations, these legends have transformed the art of cooking. Discover their inspiring stories, signature cuisines, and how they continue to shape the global culinary landscape.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <i class="flaticon-vegetable"></i>
                                    <h3>Natural ingredients</h3>
                                    <p>
                                        Savor the goodness of nature with every bite! We believe in the power of fresh, natural ingredients to create meals that are not only delicious but also wholesome. From farm-fresh vegetables to sustainably sourced proteins, our dishes are crafted with care to bring you the best of what nature has to offer.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <i class="flaticon-medal"></i>
                                    <h3>Best quality products</h3>
                                    <p>
                                        We are committed to delivering the finest quality in every meal. From premium ingredients to meticulous preparation, every product we use meets the highest standards of freshness, hygiene, and excellence.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <i class="flaticon-meat"></i>
                                    <h3>Fresh vegetables</h3>
                                    <p>
                                        Enjoy the crispness of garden-fresh vegetables in every bite! We source only the freshest produce to ensure vibrant flavors, maximum nutrition, and top quality in every dish we prepare.
From farm to table, our commitment to freshness guarantees that you experience the true essence of healthy and wholesome eating. Taste the difference with every meal!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <i class="flaticon-courier"></i>
                                    <h3>Fastest door delivery</h3>
                                    <p>
                                        Craving something delicious? We've got you covered! With our lightning-fast door delivery service, your favorite meals arrive hot and fresh, right to your doorstep.
                                         Whether it's a quick lunch or a late-night snack, we ensure your food reaches you on time, every time. Sit back, relax, and let us bring the flavors to you!
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <i class="flaticon-fruits-and-vegetables"></i>
                                    <h3>Fresh Fruits</h3>
                                    <p>
                                        Indulge in the natural sweetness and vibrant flavors of our hand-picked, fresh fruits! Sourced daily from trusted farms, our fruits are bursting with nutrients and packed with freshness.
                                        From juicy berries to tropical delights, we bring you the best of nature’s bounty. Enjoy the taste of fresh, wholesome fruits in every bite!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature End -->
        
        
        <!-- Food Start
        <div class="food">
            <div class="container">
                <div class="row align-items-center">
                {% for cat in categories %}
                    <div class="col-md-4">
                        <div class="food-item">
                            <i class="{{cat.icon}}"></i>
                            <h2>{{cat.name}}</h2>
                            <p>
                                {{cat.description}}
                            </p>
                            <a href="{% url 'all_dishes' %}?q={{cat.id}}">View Menu</a>
                        </div>
                    
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <!-- Food End -->
         
        
        
        
        <!-- Team Start -->
        <div class="team">
            <div class="container">
                <div class="section-header text-center">
                    <p>Our Team</p>
                    <h2>Our Master Chef</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="/static/img/h.jpeg" alt="Image" width="100%" height="250px">
                                <div class="team-social">
                                    
                                    <a href="https://www.facebook.com/harshala.pawar.77?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
                                   
                                    <a href="https://www.instagram.com/harshala.pawar/"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-text">
                                <h2>Harshala</h2>
                                <p>CEO, Co Founder</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="/static/img/sk.jpg" alt="Image" width="100%" height="250px">
                                <div class="team-social">
                                    
                                    <a href="http://www.sanjeevkapoor.com/"><i class="fab fa-facebook-f"></i></a>
                                    
                                    <a href="https://www.instagram.com/sanjeevkapoor/"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-text">
                                <h2>Sanjeev Kapoor</h2>
                                <p>Master Chef</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="/static/img/keer.png" alt="Image" width="100%" height="250px">
                                <div class="team-social">
                                    
                                    <a href="https://www.facebook.com/yourfoodlab?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
                                    
                                    <a href="https://www.instagram.com/sanjyotkeer/"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-text">
                                <h2>Sanjyot Keer</h2>
                                <p>Master Chef</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="/static/img/Vikas.jpg" alt="Image" width="100%" height="250px">
                                <div class="team-social">
                                    
                                    <a href="http://www.vkhanna.com"><i class="fab fa-facebook-f"></i></a>
                                    
                                    <a href="https://www.instagram.com/chef_vikas_khanna_fanpage._/"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-text">
                                <h2>Vikas Khanna</h2>
                                <p>Master Chef</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->
        
        
       
        
{% endblock %}